@font-face {
    font-family: 'vulfmono';
    src: url('../Fonts/143effaffbd67b905fe0dfff982bfe2b-webfont.woff2') format('woff2'),
         url('../Fonts/143effaffbd67b905fe0dfff982bfe2b-webfont.woff') format('woff'),
         url('../Fonts/143effaffbd67b905fe0dfff982bfe2b-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomono';
    src: url('../Fonts/RobotoMono-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: auto;
    background-color: black;
    background-image: url('../Images/20230411_141027.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.canvas {
    width: 1000px;
    margin: auto;
    padding: 75px;
}